services:
  live-camera-server:
    build: ./live-camera-server
    environment:
      CAMERA_USER: root
      CAMERA_PASS: root
      CAMERA_HOST: 192.168.177.90
    ports:
      - "33001:33001"
    restart: always

  live-camera-app:
    build: ./live-camera-app
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - live-camera-server

  virtual-camera:
    build: ./virtual-camera
    ports:
      - "8080:8080"
    environment:
      BASIC_USER: "root"
      BASIC_PASS: "root"
      SOURCE_TYPE: "file"
      SOURCE_FILE: "/media/sample.mp4"
    volumes:
      - ./virtual-camera/media:/media:ro