services:
  live-camera-server:
    build: ./live-camera-server
    environment:
      CAMERA_USER: root
      CAMERA_PASS: root
      CAMERA_HOST: http://192.168.177.90/axis-cgi/mjpg/video.cgi
    ports:
      - "33001:33001"
      - "39229:39229"
    command: node --inspect=0.0.0.0:39229 server.js
    restart: always

  live-camera-app:
    build: ./live-camera-app
    ports:
      - "30001:30001"
    restart: always
    depends_on:
      - live-camera-server

  virtual-camera:
    build: ./virtual-camera
    ports:
      - "8080:8080"
    environment:
      BASIC_USER: "root"
      BASIC_PASS: "root"
      SOURCE_TYPE: "file"
      SOURCE_FILE: "/media/sample.mp4"
    volumes:
      - ./virtual-camera/media:/media:ro