services:
  live-camera-server:
    build: ./live-camera-server
    environment:
      CAMERA_USER: root
      CAMERA_PASS: root
      CAMERA_HOST: host.docker.internal:8080
    ports:
      - "3001:3001"
    restart: always
    networks:
      - app-network

  live-camera-app:
    build: ./live-camera-app
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - live-camera-server
    networks:
      - app-network

  virtual-camera:
    build: ./virtual-camera
    ports:
      - "8080:8080"
    environment:
      BASIC_USER: "root"
      BASIC_PASS: "root"
      SOURCE_TYPE: "file"
      SOURCE_FILE: "/media/sample.mp4"
    volumes:
      - ./virtual-camera/media:/media:ro

networks:
  app-network:
    driver: bridge
    name: artemis-320_artemis-320-deployment_app-network
    external: true