services:
  rtsp-server:
    image: bluenviron/mediamtx:latest
    ports:
      - "8554:8554"
    environment:
      - MTX_PROTOCOLS=tcp
    networks:
      - app-network


  ffmpeg:
    image: jrottenberg/ffmpeg:8-alpine
    depends_on:
      - rtsp-server
    volumes:
      - ./video.mp4:/video.mp4
    command: >
      -stream_loop -1 -re -i video.mp4 
      -c:v libx264 -profile:v baseline -level 3.1 -preset veryfast -tune zerolatency
      -x264-params keyint=30:min-keyint=30:scenecut=0:repeat-headers=1
      -pix_fmt yuv420p
      -c:a aac
      -f rtsp rtsp://rtsp-server:8554/live.stream
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
    name: artemis-320_artemis-320-deployment_app-network
    external: true
